@import url("https://fonts.cdnfonts.com/css/chirp-2");

* {
    font-family: 'Chirp', sans-serif;
}

/* Extra Extra Large Devices (larger than 1440px) */
@media (min-width: 1440px) {
    .wd-tabs {
        font-size: 0.85vw;
    }
}

/* Extra Large Devices (larger than 1200px) */
@media (max-width: 1200px) {
    .wd-tabs {
        font-size: 0.85vw;
    }
}

/* Large Devices (larger than 992px) */
@media (max-width: 992px) {
    .wd-tabs {
        font-size: 0.95vw;
    }
}

/* Medium Devices (larger than 768px) */
@media (max-width: 768px) {
   .wd-tabs {
        font-size: 0.95vw;
    }
}

/* Small Devices (larger than 576px) */
@media (max-width: 576px) {
    .wd-tabs {
        font-size: 0.95vw;
    }
}
