.wd-search-bar input {
    height: 100%;
    text-align: left;
    padding-left: 10px;
    border-radius: 20px;
    width: 90%;
    background-color: darkgrey;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.wd-search-bar input::placeholder {
    color: white;
}

.wd-search-bar a {
    font-size: 1vw;
    padding-left: 12px;
    text-decoration: none;
    width: 10%;
}

.wd-tabs ul {
    display: flex;
    list-style-type: none;
    color: rgb(110, 118, 125);
}

.wd-tabs ul li {
    font-size: 15px;
    padding: 16px;
}

.wd-tabs .wd-special-highlighted {
    color: rgb(29, 161, 242);
    border-bottom-style: solid;
}

.wd-topics ul {
    list-style-type: none;
}

.wd-topics ul li {
    height: 130px;
    border-top-style: solid;
    border-color: rgb(47, 51, 54);
}

.wd-topics ul li div {
    margin-left: 16px;
}

.wd-topics p {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-topics h2 {
    font-size: 15px;
    color: white;
}

.wd-topics .wd-author {
    font-size: 14px;
    color: white;
}

.wd-topics .wd-author span {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-topics img {
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 16px;
    border-radius: 15px;
}